.vscode/**
.git/**
.gitignore
dev-install.sh
propagate-version.sh
.github/**
.agent-work/**
internal/**
test/**
.test-out/**
src/**
docs/**
scripts/**
*.mjs
tsconfig.json
*.ts
*.map
node_modules/**
.npmignore
!dist/**
